body {
  background:
    url('./imagebg.png') no-repeat center center / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); 
    padding :40px,30px;
    margin:30px;
    border-radius: 12px;
    box-shadow:8px 8px 20px rgba(0, 0, 0, 0.4);
    width:400px;
    height:425px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.h1{
    display:flex;
    justify-content:center;
    align-items: center;
    color:white;
}

input[type="text"],
input[type="password"]{
  padding: 12px;
  margin:10px 0;
  border:none;
  color:white;
  border-top:1.5px solid  #ffffff ;
  border-bottom: 1.5px solid #ffffff;
  border-left: 1.5px solid  #fffcfc;
  border-right: 1.5px solid  #ffffff;
  border-radius: 8px;
  background-color: transparent;
  transition: 0.3s;
}
::placeholder{
  color:white
}
input[type="text"]:focus,
input[type="password"]:focus{
    outline:none;
    background: transparent;
    color:white;
}

input[type="text"]:hover,
input[type="password"]:hover {
  background-color: transparent;
  border: 1px solid #000000;
  box-shadow:0 0 8px rgba(0, 0, 0, 0.5);
  transition:0.2s ease;
}

.check{
    display:inline-flex;
    width:400px;
}

.forgot{
    text-align: left;
    padding:0 110px;
    font-size:11px ;
    color:rgb(255, 255, 255);
    font-weight:lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor:pointer;
}

input[type="submit"] {
  background: #2039a7;
  font-size: 14px;
  width:180px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  transition: transform 0.2s ease;
}

input[type="submit"]:hover{
  transform: scale(1.05);
  background-color: #5a67d8;
}

.container{
  animation: fadeIn 1s ease-in-out;
}

.img{
    display:flex;
    justify-content: center;
    gap:15px;    
    color:darkgrey;
}

.icon img{
    filter: grayscale(100%) brightness(0.8);
    transition: filter 0.3s ease, transform 0.3s ease;
    transform: 0.3s ease;
    cursor:pointer;
    transition: transform 0.2s ease;
}

.icon img:hover{
  filter: none;
  transform: scale(1.25);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

